#details {
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    overflow: hidden;
    text-align: center;
}

#details img {
    max-width: 500px;
}

#details button {
    margin-left: 10px;
    margin-bottom: 10px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .form {
    padding: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input,
.form button {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.form input:focus,
.form button:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: #f44336;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

textarea {
    height: 100px;
    width: 366px;
}

button:disabled {
    background-color: #ccc;
    color: #000;
}