.notFound404 {
    background-image: url('https://img.freepik.com/premium-vector/404-error-page-with-black-cat-illustrations_343173-27.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}